* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.tg-btn.hidden {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-info {
    color: darkslategray;
}

b#user_ {
    font-weight: bolder;
    color: seagreen;
    font-family: cursive;
}

.tag-status {
}

.tag-name {
    margin-right: 5px;
}

.tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    color: #ff9090;
    border: 1px solid #ffa4a4;
    padding: 1px 5px;
    border-radius: 2px;
    font-size: 10px;
    font-weight: 100;
    margin: 1px;
}

.progress-tags {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    padding: 0px 20px;
}

.roles {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info .roles {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.sub-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.info td.value {
    color: #0b8800;
}

td.fee {
    font-weight: bold !important;
    color: orange !important;
}

td.price {
    color: orange !important;
    font-weight: bold !important;
}

.info td {
    padding: 2px;
}

.info td.name {
    font-weight: bold;
    color: black;
    font-size: 12px;
}

.info table {
    width: 100%;
}

.data {
    padding: 10px;
}

.badge {
    position: absolute;
    top: 16px;
    left: -9px;
    color: white;
    background-color: #ed7f14;
    padding: 2px;
    font-family: cursive;
    font-size: 10px;
    font-weight: bold;
    border-radius: 3px;
    z-index: 2;
}

.cover img {
    width: 100%;
    filter: grayscale(1);
    z-index: 1;
}

.cover {
    width: 100%;
    height: 30%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    width: 200px;
    border-radius: 5px !important;
    box-shadow: 0px 0px 15px gray !important;
    margin-bottom: 15px;
    margin-left: 30px;
}

.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}

.button {
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.button button {
    padding: 10px;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

h3.header {
    font-size: 1.4rem;
    width: 100%;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    padding: 0px 5px;
    margin-right: 10px;
}

body {
    width: 100vw;
    height: 100vh;
}
.gradient-0 {
    background-image: url(../media/b_red.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.gradient-1 {
  background-image: url(../media/b_crypto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.gradient-2 {
  background-image: url(../media/b_moon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.gradient-3 {
  background-image: url(../media/b_white.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.scattered-previews {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.glass[data-v-053f5fce] {
    position: absolute;
}

.glass {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.31);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}



.glass-efect {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    color: gray;
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.31);
}

.tg-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#design {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  padding: 5px;
  cursor: pointer !important;
  border-radius: 5px;
  z-index: 3;
}

#design:hover {
  scale: 1.1;
}



.card {
    padding: 10px;
    margin: 20px;
    width: 250px;
    cursor: pointer;
    border-radius: 6px !important;
    height: 150px;
    font-size: 15px;
    font-weight: bold;
}

.card:hover {
    scale: 1.1;
    border-color: white;
}

.form__group {
    position: relative;
    padding: 11px 0 0;
    width: 100%;
    margin-top: 10px;
  }
  
  .form__field {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #7a7a7a;
    outline: 0;
    font-size: 1.3rem;
    color: black;
    padding: 6px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  .form__field::placeholder {
    color: transparent;
  }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 13px;
    color: gray;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 2px;
    border-image: linear-gradient(to right, #1a1a1a, #d9f8ff);
    border-image-slice: 1;
  }
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #000000;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }

  #room_id {
    font-weight: bolder;
    color: rgb(0 0 0);
  }
  
 .popup-div {
    width: fit-content;
    min-width: 400px;
    height: fit-content;
    padding: 10px 20px 20px 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
 }

 .hidden {
  display: none !important;
 }

 #room {
  min-width: 600px;
  height: fit-content;
  padding: 0px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 20px 20px 20px;
  width: 600px;
 }

 .head {
  display: flex;
  padding: 10px;
  flex-direction: row;
  width: 100%;
 }

 .closer {
  background-color: red;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  font-family: cursive;
 }

.closer:hover {
    scale: 1.1;
    box-shadow: 1px 1px 2px darkgray;
}


/* progress bar  */
.block {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 180px;
	height: 180px;
	border-radius: 50%;
}

.box {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: calc(100% - 50px);
	height: calc(100% - 50px);
	border-radius: 50%;
	background-color: #5858582e;
	box-shadow: 0 0 5px 3px #828282;
}

.box::before {
	position: absolute;
	content: '';
	width: calc(100% + 28px);
	height: calc(100% + 28px);
	border-radius: 50%;
	border: 1px solid #ffffff;
}

.step-done {
  color: green !important;
  border: 1px solid green !important;
}

.step-done .tag-status::after {
  content: "✓" !important;
}

.tag-status::after {
  content: "✘";
}


.box .number span {
	color: #ffffff;
}

.box .number .num {
	font-size: 35px;
	font-weight: bold;
}

.box .number .sub {
	font-size: 20px;
}

.box .title {
	font-size: 15px;
	color: #000000;
}

.dots {
	display: block;
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	transition: 2s transform, 2s opacity ease;
}

.sc {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.dots::after {
	position: absolute;
	content: '';
	width: 10px;
	height: 10px;
	top: 5px;
	left: 50%;
	border-radius: 50%;
	background-color: #ffffff;
	box-shadow: 0 0 5px 2px #000000;
	transform: translateX(-50%);
}

.svg {
	position: absolute;
	width: 100%;
	height: 100%;
	fill: none;
	transform: rotate(-90deg);
}

.circle {
	stroke: url(#gradientStyle);
	stroke-width: 4px;
	stroke-dasharray: 503;
	stroke-dashoffset: 503;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	transition: 2s stroke-dashoffset;
}

.tg-button {
  border: antiquewhite;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 10px;
}

#fees {
  padding: 3px;
  margin: 5px 0px;
}
